@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: rgb(125, 214, 173);
  --primary-hover: rgb(77, 192, 181);
  --bg-widget: rgb(52, 52, 52);
}


@layer base {
  body {
    background-color: rgb(28, 28, 28);
  }
}

@layer components {
  .widget {
    background-color: var(--bg-widget);
  }
}